port: 6100

log:
  pretty: true
  httpRequests: false

staticUsersFile: config/users.json

tokenStore: redis
destroyAllTokensAtStartup: false

redis:
  client:
    url: "redis://127.0.0.1"
  namespace: doorkeeper.dev
  token:
    namespace: token
  user:
    namespace: user

keyFile:
  public: keys/public.pem
  private: keys/private.pem
  passphrase: top-secret

jwt:
  iss: doorkeeper

token:
  login:
    # 2 weeks (seconds)
    ttl: 1209600
    # 7 days (seconds)
    lastLoginExpire: 604800

authKey: Authorization
